.portfolio-container {
    display: flex;
}
.stock-list-container {
    width: 50%;
    background-color: #D6EAF8;
    border-right: 3px solid #2E86C1;
    display: flex;
    justify-content: center;
}
.stock-purchase-container {
    width: 50%;
    background-color: #D6EAF8;
    display: flex;
    justify-content: center;
}