.no-stock-msg {
    color: #3498DB;
    font-size: 18pt;
    display: flex;
    align-items: center;
}
.stock-list-container-inner {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}