.private-nav {
    background-color: #26508C;
    width: 100%;
    display: flex;
    justify-content: center;
}
.private-nav-container {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.private-nav-list{
    min-width: 440px;
    font-size: 20pt;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    flex-wrap: wrap;
}
.pipe {
    color: #85C1E9;
    font-weight: 800;
}
#logout:hover {
    color: black;
}
