.nav {
    background-color: #26508C;
    display: flex;
    justify-content: center;
}
.nav-container{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    width: 1000px;
    padding: 20px 40px;
}
.app-title-container{
    display: flex;
    justify-content: center;
}
.nav-list {
    display: flex;
    width: 30%;
    font-size: 20pt;
    justify-content: space-around;
    font-weight: 500;
}
.list-item {
    list-style: none;
    padding: 10px;
}
.link {
    text-decoration: none;
    color: white;
}